* {
    margin: 0;
    padding: 0;
}


/*  ========================================   */

.boardContainer {
    margin: auto;
    /* background-color: rgb(80, 23, 23); */
    padding: 3px;
}

.board {
    border: solid 1px black;
    border-collapse: collapse;
    /* opacity: 0.4; */
    /* opacity: 0; */
    margin: auto;
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    /* pointer-events: none; */
}

.row {}

.cell {
    height: 20px;
    width: 20px;
    /* background-color: blue; */
    border: solid 1px rgb(151, 151, 151);
    background-color: rgb(219, 219, 219);
}

.cell:hover {
    background-color: red;
    border-radius: 5px;
}


/*  ========================================   */

#getKey {
    /* background-color: red; */
    width: 100%;
    background-color: rgb(197, 197, 197);
    height: 100vh;
    position: fixed;
    display: block;
    /* opacity: 0; */
    opacity: 0.1;
    /* opacity: 0; */
}

#getKey[type=text]:focus {
    background-color: rgb(100, 218, 198);
    opacity: 0;
}

#hidden {
    position: fixed;
}

#alert {
    background-color: rgb(20, 20, 20);
    width: 500px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    /* line-height: 10px; */

    color: rgb(233, 233, 233);
    /* opacity: 0; */
}

.apple {
    background-color: red;
    /* border-radius: 5px; */
}

.head {
    background-color: rgb(6, 49, 6);
}

.vertebra {
    background-color: rgb(15, 87, 15);
}

#pausedTitle{
    margin-top: 50px;
    font-size: 60px;
   
}