* {
    margin: 0;
    padding: 0;
}


/*  ========================================   */

.boardContainer {
    margin: auto;
    background-color: rgb(80, 23, 23);
    padding: 3px;
}

.board {
    border: solid 1px black;
    border-collapse: collapse;
    /* opacity: 0.4; */
    /* opacity: 0; */
    margin: auto;
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    pointer-events: none;
}

.row {}

.cell {
    height: 20px;
    width: 20px;
    /* background-color: blue; */
    border: solid 1px rgb(122, 122, 122);
    background-color: rgb(184, 184, 184);
}

.cell:hover {
    background-color: red;
    border-radius: 5px;
}


/*  ========================================   */

#getKey {
    /* background-color: red; */
    width: 100%;
    background-color: rgb(197, 197, 197);
    height: 100vh;
    position: fixed;
    display: block;
    /* opacity: 0; */
    opacity: 0.5;
    /* opacity: 0; */
}

#getKey[type=text]:focus {
    background-color: rgb(197, 197, 197);
    opacity: 0;
}

#hidden {
    position: fixed;
}

#alert {
    background-color: gray;
    width: 500px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}